body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Roboto, Ubuntu, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

#root {
  display: flex;
  height: 100%;
}