button, button:focus, button:active {
  outline: none;
  border: 0px solid transparent;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
}

input {
  outline: none;
  border-radius: 3px;
  border: 5px dotted rgb(113, 113, 113);
}

input:focus {
  border: 5px solid #70233a;
}